body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.bug {
  display: block;
}

.main-header {
  font-size: 17px;
  line-height: 17px;

  color: #ffffff;

  background-color: #f4f7f9;
}

.navigation {
  font-size: 17px;
  line-height: 18px;

  color: #ffffff;

  background-color: #293449;
}

.navigation .btn {
  color: #ffffff;
  background-color: #293449;
}

.navigation input {
  background-color: #293449;
  border: none;
}

.navigation input::placeholder {
  font-size: 17px;
  line-height: 18px;

  color: #ffffff;
}

.navigation .btn:hover,
.navigation .btn:focus,
.navigation input:hover {
  background-color: #212a3a;
}

.navigation .btn:active {
  background-color: #161d29;
  opacity: 0.6;
}

.navigation input:focus {
  background-color: #ffffff;
}

.navigation .order {
  color: #ffffff;
  background-color: #63a63e;
}

.navigation .order:hover,
.navigation .order:focus {
  background-color: #5fbb2d;
}

.navigation .order:active {
  background-color: #518534;
  opacity: 0.6;
}

.main-header h1 {
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #ee3643;

  font-style: italic;
}

.header-contacts a {
  font-size: 21px;
  line-height: 21px;

  color: #ee3643;
}

.main-header .header-contacts {
  font-size: 14px;
  line-height: 21px;

  color: #32425c;
}

.main-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
}

.container {
  background-color: #ffffff;
}

.promo-item1 {
  background-color: #ffbf47;
}

.promo-item2 {
  background-color: #3bbce3;
}

.promo-item3 {
  background-color: #dc91d8;
}

.promo-item4 {
  background-color: #8ed78f;
}

.promo-block h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
}

.promo-block .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;

  text-transform: uppercase;

  background-color: rgba(000, 000, 000, 0.1);
}

.promo-block .btn:hover,
.promo-block .btn:focus {
  background-color: rgba(000, 000, 000, 0.2);
}

.promo-block .btn:active {
  background-color: rgba(000, 000, 000, 0.3);
}

.promo-slaider .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.promo-slaider .btn:hover,
.promo-slaider .btn:focus {
  background-color: #ca2c37;
}

.promo-slaider .btn:active {
  background-color: #ba2732;
}

.popular {
  background-color: #f9f5f0;
}

.popular h2{
  font-size: 30px;
  line-height: 30px;

  color: #32425c;

  text-transform: uppercase;

}

.popular .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ee3643;
}

.catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.catalog-item {
  border: 1px solid;
  border-color: #eaeaea;
}

.catalog-item .catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.catalog-item .catalog-item-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
}

.catalog-item-price del {
  color: #a9a9a9;
}

.catalog-item-price b {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-item-action {
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
}

.catalog-item-action .button-buy {
  color: #ffffff;
  background-color: #63a63e;
}

.catalog-item-action .button-buy:hover,
.catalog-item-action .button-buy:focus {
  background-color: #5fbb2d;
}

.catalog-item-action .button-buy:active {
  background-color: #518534;
}

.catalog-item-action .in-bookmark {
  color: #32425c;
  border: 2px solid;
  border-color: #63a63e;
  background-color: #ffffff;
}

.catalog-item-action .in-bookmark:hover,
.catalog-item-action .in-bookmark:focus {
  border-color: #32425c;
}

.catalog-item-action .in-bookmark:active {
  border-color: #32425c;
  opacity: 0.3;
}

.popular-producers-list {
  list-style: none;
}

.popular-producers-list li:hover,
.popular-producers-list li:focus {
  box-shadow: 0 0 25px #293449;
}

.popular-producers-list li:active {
  box-shadow: 0 0 10px #293449;
}
/* не работает  */

.services {
  background-color: #f4f8f9;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;

  color: #000000;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.services li {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  list-style: none;
}

.services-content h3 {
  font-size: 36px;
  line-height: 36px;

  color: #32425c;
  text-transform: uppercase;
}

.services-content p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

  color: #000000;
}

.services-content .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ff5357;
  text-transform: uppercase;
}

.colum {

}

.about h2,
.contacts h2 {
  font-size: 30px;
  line-height: 30px;

  text-transform: uppercase;
}

.about p,
.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about li {
  font-size: 18px;
  line-height: 20px;
}

.сolumn .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;

  color: #ffffff;
  background-color: #32425c;
}

.navigation-top,
.navigation-down {
  list-style: none;
}

.navigation-top a,
.footer-contacts a {
  color: #ffffff;
}

.navigation-down a {
  color: #ffd180;
}

.footer-color {
  font-size: 16px;
  line-height: 18px;

  color: #ffffff;
  background-color: #293449;
}

.footer-copyright a,
.footer-feedback a {
  color: #ffd180;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;

  color: #000000;
}

.modal-write-us input::placeholder,
.modal-write-us textarea::placeholder {
  font-family: "PT sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  color: #a9a9a9;
}

.modal-write-us input,
.modal-write-us textarea {
  border: 2px solid;
  border-color: #dee3e4;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border-color: #b5b5b5;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border-color: #ee3643;
}

.modal-write-us .btn {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ff5357;
  text-transform: uppercase;

  font: inherit;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.modal-map {
  box-shadow: 0 0 16px #2f2a2b;
}

.modal-cart h3 {
  font-size: 30px;
  line-height: 30px;

  color: #000000;
}

.modal-cart .btn1 {
  font-size: 14px;
  line-height: 18px;

  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
}

.modal-cart .btn2 {
  font-size: 14px;
  line-height: 18px;

  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}







